# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path="output_data/city_data.csv"
city_data=pd.read_csv(path)
city_data.head()

,City,Lat,Lag,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Dhidhdhoo,6.88,73.10,301.35,77,95,5.84,MV,1607097559
1,Morón,-34.65,-58.62,297.59,34,91,4.02,AR,1607097577
2,San Patricio,28.02,-97.52,282.04,65,90,5.70,US,1607097577
3,Quatre Cocos,-20.21,57.76,299.26,78,75,4.60,MU,1607097577
4,Clyde River,70.47,-68.59,258.15,84,90,10.30,CA,1607097578

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude
coordinates = city_data[["Lat","Lag"]]

humidity=city_data["Humidity"]

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates,weights=humidity,dissipating=False,max_intensity=100,point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:
hotel_df=city_data.loc[(city_data["Max temp"] < 299.817) & (city_data["Max temp"]>294.261) & (city_data["Humidity"] < 50) \
& (city_data["Cloudiness"] == 0)].reset_index().drop(["index"],axis=1)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [40]:
hotel_df["Hotel Name"]=""
hotel_df

,City,Lat,Lag,Max temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel Name
0,Cape Town,-33.93,18.42,299.15,39,0,8.70,ZA,1607097148,
1,Riyadh,24.69,46.72,299.15,47,0,2.10,SA,1607097326,
2,Springbok,-29.66,17.89,299.25,21,0,10.60,ZA,1607097646,
3,Adré,13.47,22.20,299.11,18,0,2.77,TD,1607097710,
4,Nizwá,22.93,57.53,295.63,32,0,1.07,OM,1607098108,
5,Kutum,14.20,24.67,295.64,21,0,2.56,SD,1607098305,
6,Rancagua,-34.17,-70.74,298.15,29,0,1.96,CL,1607098020,

In [3]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure